@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,900;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;500&family=Merriweather:ital,wght@0,300;0,900;1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header part style start */

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

header .Headercontainer {
  color: #ffffff;
  width: 82%;
  margin: 3% auto;
}

header .Headercontainer .headerBody {
  background: url("./images/Banner\ Image.png") no-repeat;
  background-size: cover;
  border-radius: 16px;
  margin: auto;
  text-align: center;
  padding: 140px 300px;
}

header .Headercontainer p {
  font-family: "Merriweather", serif;
  font-size: 1.875rem;
  font-weight: lighter;
  line-height: normal;
  text-shadow: 1px 2px 3px #070114;
}

header .Headercontainer .headerBody h1 {
  font-family: "Merriweather", serif;
  font-size: 50px;
  font-weight: 900;
  text-shadow: 1px 2px 3px #070114;
}

/* header part style end */

/* section-1 style start */
.section-1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-1-container {
  width: 50%;
  max-width: 800px;
}

.section-1-container .section-1-header h1 {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 70px;
  font-weight: 700;
  line-height: normal;
  margin: 4.5% auto;
  text-shadow: 1px 2px 3px #070114;
}

.section-1-container .section-1-header p {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
}

.section-1-container .section-1-header h5 {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 39px;
  font-weight: 700;
  line-height: normal;
}

.section-1 .section-1-container .section-1-img {
  margin: 48px auto;
}

.section-1 .section-1-container .section-1-img img {
  width: 100%;
}

/* section-1 style end */

/* section-2 style start */

.section-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-2 .section-2-container {
  display: flex;
  justify-content: center;
  align-items: start;
  width: 82%;
  max-width: 1320px;
  height: 28rem;
  margin: 5rem;
  background-image: url("./images/Vectorrr.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
}

.section-2 .section-2-container .section-2-text {
  width: 60%;
  margin: auto;
  margin-left: 11%;
}

.section-2 .section-2-container .section-2-img {
  width: 40%;
  margin: auto;
}

.section-2 .section-2-container .section-2-img img {
  max-width: 280px;
  height: 300px;
}

.section-2 .section-2-container .section-2-text h1 {
  color: #fff;
  font-family: Merriweather;
  letter-spacing: 7.04px;
  font-size: 50px;
  font-weight: 900;
  text-shadow: 1px 2px 3px #101010;
}

.section-2 .section-2-container .section-2-text p {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  width: 60%;
}

.section-2 .section-2-container .section-2-text button {
  color: #ffffff;
  background: transparent;
  font-family: Inter;
  font-size: 15px;
  outline: none;
  border: none;
  font-weight: bolder;
  padding: 3%;
  text-shadow: 1px 2px 3px #fbfbfc69;
  cursor: pointer;
}

/* section-2 style end */

/* section-3 style start */
.section-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.section-3 .section-3-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 13px;
  text-align: center;
  height: 21rem;
  border-radius: 10px;
  width: 82%;
  background-image: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
}

.section-3 .section-3-container .section-3-text p {
  color: #070211;
  font-family: Inter;
  font-size: 22px;
  font-weight: 600;
  line-height: 56px;
  text-transform: capitalize;
}

.section-3 .section-3-container .section-3-text p span {
  color: rgb(255, 1, 1);
}

.section-3 .section-3-container .section-3-btn button {
  background-color: #f00;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  padding: 10px 19px;
  font-weight: bold;
}

/* section-3 style end */

/* section-4 style start */
.section-4 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 90px auto;
}

.section-4-container {
  width: 82%;
  display: flex;
  gap: 80px;
  justify-content: space-between;
  align-items: center;
}

.section-4-text-1,
.section-4-img,
.section-4-text-2 {
  width: 33.33%;
}

.section-4-img img {
  width: 100%;
  border: 10px solid #ffffff;
  border-radius: 50%;
  outline: 10px solid #f00;
}

.section-4 .section-4-container .section-4-text-1 h6 {
  color: #f00;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
}

.section-4 .section-4-container .section-4-text-1 h1 {
  color: #070211;
  font-family: Merriweather;
  font-size: 33px;
  font-style: normal;
  font-weight: 900;
}

.section-4-text-1 p,
.section-4-text-2 p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
}

.section-4-text-1,
.section-4-text-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 20px;
}

.section-4 .section-4-container .section-4-text-2 h1 {
  color: #f00;
  font-family: Inter;
  font-size: 33px;
  font-style: normal;
  font-weight: 700;
}

/* section-4 style end */

/* section-5 style start */
.section-5 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 120px auto;
  
}

.section-5-container {
  width: 82%;
}

.section-5-header {
  text-align: center;
}

.section-5-header h5 {
  color: #070211;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.section-5-header h1 {
  font-size: 52px;
  text-align: center;
  font-family: Merriweather;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.section-5-header h1 span {
  color: #f00;
}

.section-5-header p {
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
}

.section-5-body {
  background-image: url("./images/Rectangle\ 2.png");
  background-repeat: no-repeat;
  background-position-y: 300px;
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-top: 120px;
}

.img-part-1 img {
  margin-top: 130px;
  height: 200px;
  width: auto;
}

.imgs-part-2{
  margin-bottom: 120px;
}

.imgs-part-2 .img-1 {
  position: relative;
  border: 10px solid white;
  border-radius: 10px;
  outline: #f00 10px solid;
  height: 330px;
  width: auto;
  margin: auto 10px;
  background-color: #ffffff;
}

.imgs-part-2 .img-2 {
  position: absolute;
  top: 75px;
  right: 0px;
  left: 565px;
  bottom: 0px;
  height: 265px;
  width: auto;
}

/* section-5 style end */

/* section-6 style start */

.section-6 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-6 .section-6-container {
  width: 82%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.section-6 .section-6-container .section-6-header h5 {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.section-6 .section-6-container .section-6-header h1 {
  color: #070211;
  font-family: Merriweather;
  font-size: 38px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
}

.section-6 .section-6-container .section-6-header p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

.section-6-body table tbody tr td img {
  height: 325px;
  width: 300px;
}

.section-6-body table,
.section-6-body tbody,
.section-6-body tr,
.section-6-body table tbody tr td {
  border: 13px solid transparent;
}

.section-6-body table tbody tr td img {
  transition: ease-in 0.3s;
}

.section-6-body table tbody tr td img:hover {
  opacity: 0.6;
}

/* section-6 style end */

/* section-7 style start */
.section-7 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 140px auto;
}

.section-7-container {
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
  width: 82%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 80px 212px;
}

.section-7-container h1 {
  color: #070211;
  font-family: Merriweather;
  font-size: 38px;
  text-transform: capitalize;
}

.section-7-container p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 16px;
}

.section-7-container .section-7-input {
  display: flex;
  flex-grow: 1;
  margin: 20px auto;
}

.section-7-container .section-7-input button {
  border-radius: 0px 50px 50px 0px;
  background: #f00;
  border: none;
  color: #ffffff;
  padding: 14px 30px;
}

.section-7-container .section-7-input input {
  display: flex;
  border-radius: 50px 0px 0px 50px;
  background: #fff;
  width: 300px;
  padding: 0 20px;
  border: none;
}


/* section-7 style end */

/* Footer style start */
footer {
  width: 100%;
  background-color: #070114;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  padding: 60px;

}
footer .f-part-1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: justify;
  gap: 28%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  
}
footer .f-part-1 address ,footer .f-part-1 .contact{
  width: 50%;
  padding:40px 0 ;
}
footer .f-part-1 .contact{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}
footer .f-part-1 .contact .phone-number, footer .f-part-1 .website-address{
  display: flex;
  justify-content: end;
  align-items: center;
}
footer .f-part-1 .website-address a{
  text-decoration: none;
  color: brown;
}
footer .f-part-2  {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  width: 100%;
  height: auto;
  padding: 40px 0;
}
footer .f-part-2 .social-contact img{
  width: 36px;
}
footer .f-part-2 .social-contact{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

footer .f-part-3{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0 0 0;
}
footer .f-part-3 button{
  background-color: transparent;
  color: #fff;
  border: none;
  outline: none;
}


/* Footer style end */
